/*
    Writen By Richard Anderson!
    Project: Personal Portfolio!
    Last Update: 19th May 2023.
    Social(s):
        LinkedIn: https://www.linkedin.com/in/richardjanderson9/
        Website: https://portfolio.richardjanderson.uk/
        GitHub: https://github.com/richardjanderson9/
*/

/* Importing the 'Inter' font from Google Fonts! */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* Code for App Body! */
*{
    /* Formatting for Page! | Colours & Fonts! */
    font-family: 'Inter', sans-serif; /* Sets Font! */
    text-align: center; /* Allgns Text! */
    /* Formatting for Page! | Basic Structure & Layout! */
    margin: 0; /* sets the margin of the element to 0! */
}
body{
    /* Formatting for Page! | Colours & Fonts! */
    background: #000000; /* Background Colour! */    
    overflow-x: hidden; /* Prevent horizontal scrolling! */    
    color: #ffffff; /* Text Colour! */
}

/* || Code for Height of Each Section! */
/* Sections: Header, AboutMe, Certifications, Projects! */
.block-general{
    min-height: 100vh;  /* Set the height of the section! */
    border-bottom: 1.75px dashed white;  /* Set information about the testing line! */
}
/* Section: NavBar! */
.block-navbar{
    min-height: 4.25vh;  /* Set the height of the section! */
    border-bottom: 1.75px dashed white;  /* Set information about the testing line! */
}
/* Section: Contact! */
.block-contact{
    min-height: 67.5vh;  /* Set the height of the section! */
    border-bottom: 1.75px dashed white;  /* Set information about the testing line! */
}
/* Section: Footer! */
.block-footer{
    min-height: 7.5vh;  /* Set the height of the section! */
    border-bottom: 1.75px dashed white;  /* Set information about the testing line! */
}

/* || Formatting General! | Structure! */
/* Details: General Formatting! */
.formatting-general{
    justify-content: center; /* Center align the navbar contents horizontally! */    
    box-sizing: border-box; /* Include padding within the element's total width/height! */
    flex-direction: column; /* Stack items vertically! */
    align-items: center; /* Center align the navbar contents vertically! */
    display: flex; /* Use flexbox to align navbar contents! */
}
/* Details: Footer! */
.formatting-footer{
    padding: 20px 0; /* Sets padding from the footer! */
    height: 100px;  /* Set the height of the footer! */
}
/* Details: Any Links! */
.formatting-links{
    text-decoration: none; /* Blocks the underline for links! */
}
/* Details: Cards Design! */
.formatting-cards{
    grid-template-columns: repeat(3, 1fr); /* Display as 3 columns on a large device! */   
    grid-gap: 10px; /* Add some gap between the elements! */
    display: grid; /* Use grid display! */
}
/* Details: Cards Design (Image)! */
.formatting-cards-images{
    border-radius: 15px;    
    border: #ffffff 1px solid;
}
/* Details: Modal Design (Button:General)! */
.formatting-modal-button{
    background-color: #006500; /* Set the background color! */
    border: none; /* Remove the border! */
}
/* Details: Modal Design (Button:Hover)! */
.formatting-modal-button:hover{
    background-color: #006500; /* Set the background color! */
    border: none; /* Remove the border! */
}
/* Details: Modal Design (Text)! */
.formatting-modal-text{
    text-align: left; /* Set the text alignment to left! */
    color: #000000; /* Set the text color to black! */    
}
/* || Formatting General! | Text! */
/* Details: General Sizes! | H1 Tag! */
.text-general h1{
    font-size: 2.1rem;
}
/* Details: General Sizes! | Paragraph Tag! */
.text-general p{
    font-size: 1.15rem;
}
/* Details: Heading Sizes! */
.text-heading{
    margin-bottom: 1rem; /* Add space below the heading! */
    font-weight: 500; /* Specify the font weight! */
}
/* Details: Information Sizes! */ 
.text-information{
    margin-bottom: 1.5rem; /* Add space below the description! */
    font-weight: 500; /* Specify the font weight! */
}
/* Details: Text Compress! */
.text-compress{
    width: 87.5%;
}
/* Details: Modal Text! */
.text-modal{
    display: flex; /* Use flexbox for layout! */
    align-items: center; /* Align items vertically at the center! */
}
/* Details: Modal Text - Sets to Left! */
.text-modal-setleft{
    margin-right: auto; /* Pushes the element to the left by consuming remaining space! */
    margin-bottom: 0;
}
/* Details: Modal Text - Sets to Right! */
.text-modal-setright{
    text-decoration: none; /* Remove underline or strikethrough from text! */
    margin-left: auto; /* Pushes the element to the right by consuming remaining space! */
}
/* Details: Header Button! */ 
.header-button{
    font-size: 2.1rem; /* Reduced font size by 50%! */
}

/* || Scrollbar Changes! */
/* Scrollbar Settings! */
::-webkit-scrollbar{
    width: 10px; /* Width of the Scrollbar! */
}
/* Styling of Track! */
::-webkit-scrollbar-track{
    background: transparent; /* Background Settings! */
}
/* Styling the Thumb! */
::-webkit-scrollbar-thumb{
    background: #006500; /* Background Colour! */
    border-radius: 10px; /* Rounded corners! */
}

/* || Device Changes! */
/* Changes for Large Vertial Screens! */
@media (max-width: 999px){
    .formatting-cards{
      justify-content: center; /* Center the elements horizontally! */
      flex-wrap: wrap; /* Wrap the elements when there is not enough space! */
      display: flex; /* Switch to flexbox display! */
    }
}
/* Changes for Mobile Device(s)!*/
@media (max-width: 767px){
    .navbar{
      zoom: 87.5%; /* Set zoom level to specific value on mobile! */
    }
    .navbar-list{
      width: 400px; /* Set a fixed width (px) for the navbar list! */
    }
    .text-compress{
        width: 80%; /* Set a fixed width (%) for the navbar list! */
    }
}