/*
    Writen By Richard Anderson!
    Project: Personal Portfolio!
    Last Update: 9th May 2023.
    Social(s):
        LinkedIn: https://www.linkedin.com/in/richardjanderson9/
        Website: https://portfolio.richardjanderson.uk/
        GitHub: https://github.com/richardjanderson9/
*/

/* Importing the 'Inter' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* Code for App Body! */
*{
    /* Formatting for Page! | Colours & Fonts! */
    font-family: 'Inter', sans-serif; /* Sets Font! */
    background: #000000; /* Background Colour! */
    text-align: center; /* Allgns Text! */
    color: #ffffff; /* Text Colour! */
    /* Formatting for Page! | Basic Structure & Layout! */
    margin: 0; /* sets the margin of the element to 0 */
}

/* || Code for Height of Each Section! */
/* Sections: Header, AboutMe, Certifications, Projects! */
.block-general{
    min-height: 100vh;  /* Set the height of the section! */
}
/* Section: NavBar! */
.block-navbar{
    min-height: 4.25vh;  /* Set the height of the section! */
}
/* Section: Contact! */
.block-contact{
    min-height: 67.5vh;  /* Set the height of the section! */
}
/* Section: Footer! */
.block-footer{
    min-height: 7.5vh;  /* Set the height of the section! */
}

/* || Formatting General! | Structure! */
/* Details: General Formatting! */
.formatting-general{
    justify-content: center; /* Center align the navbar contents horizontally! */    
    box-sizing: border-box; /* Include padding within the element's total width/height */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align the navbar contents vertically! */
    display: flex; /* Use flexbox to align navbar contents! */
}
/* Details: Footer! */
.formatting-footer{
    padding: 20px 0; /* Sets padding from the footer! */
    height: 100px;  /* Set the height of the footer! */
}
/* Details: Any Links! */
.formatting-links{
    text-decoration: none;
}

/* || Formatting General! | Text! */
/* Details: Heading Sizes! */
.text-heading{
    margin-bottom: 1rem; /* Add space below the heading */
    font-size: 2.5rem; /* Heading font size */
    font-weight: 500; /* Specify the font weight */
}
/* Details: Information Sizes! */ 
.text-information{
    margin-bottom: 1.5rem; /* Add space below the description */
    font-size: 1.2rem; /* Description font size */
    font-weight: 500; /* Specify the font weight */
}
/* Details: Header Button! */ 
.header-button{
    font-size: 2.1rem; /* Reduced font size by 50% */
}

/* || Testing Outline! */
.testing-outline{
    border-bottom: 1.75px dashed white;  /* Set information about the testing line! */
}

/* || Scrollbar Changes! */
/* Scrollbar Settings! */
::-webkit-scrollbar{
    width: 10px; /* Width of the Scrollbar! */
}
/* Styling of Track! */
::-webkit-scrollbar-track{
    background: transparent; /* Background Settings! */
}
/* Styling the Thumb! */
::-webkit-scrollbar-thumb{
    background: #006500; /* Background Colour! */
    border-radius: 10px; /* Rounded corners! */
}